@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*/

#bg {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;

}

.top-left {
  position: absolute;
  top: 5px;
  left: 30px;
  color:rebeccapurple
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.centered .headbtn btnnewcolor {
    text-transform: uppercase;
    width: 9rem !important;
    height: 3rem !important;
    text-align: center;
    padding: 10px;
    border: none;
    font-size: medium;
  }
  
.centered .headbtn  {
    width: 9rem !important;
    height: 3rem !important;
    text-align: center;
    padding: 10px;
    font-size: large;
  }
  



/* Welcome start */

.welcome-text {
  text-align: center;
  color: black;
}

.welcome-about p {
  width: 40%;
  opacity: 0.6;
}
.welcome-about h2{
  text-align:center;
  position:relative;
}

.welcome-about {
  margin-top: 50px;
  display: flex;
  position: relative;
  left: 8rem;
  margin-left: 10px;
}

.course {
  position: relative;
  left: 8rem;
}

.welcome-about img {
  width: 15rem;
  height: 10rem;
  margin-top: -18px;
}

.welcome-feature .feature-text {
  margin-top: 15px;
  width: 100%;
  height: 54%;
  text-align: center;
  opacity: .6;
}

.feature-list {
  text-align: center;
  margin-right: -20px;
}

.feature-list h3 {
  color: #5f27cd;
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 20px;
}

.feature-list .icon-feature i {
  margin-top: 20px;
  border: 10px solid #5f27cd;
  border-radius: 50%;
  background-color:#5f27cd;
  color: white;
} 

.feature-list.feature-text.headbtn   {
  text-transform: uppercase;
  width: 9rem !important;
  height: 3rem !important;
  text-align: center;
  padding: 10px;
  font-size: large;
  border: 10px solid #5f27cd;
  background-color:#5f27cd;

} 

/* Welcome End */

/* Project start */

.project {
  margin: 0px;
  padding: 0px;
}

.project .col>img {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.project .card-project {
  background-color: hsla(210, 8%, 79%, 0.863);
  padding-left: 40px;
  padding-top: 40px;
  height: 15rem;
}

.project .card-project:hover {
  background-color: #f4a261;
}
.card-project h3 {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.project .card-project p {
  font-size: 15px;
  opacity: .6;
}

.project .card-project button {
  text-transform: uppercase;
  width: 9rem !important;
  height: 3rem !important;
  text-align: center;
  padding: 10px;
  font-size: large;
}

/* Project End */

/* Pricing Start */

.pricing .plan {
  text-align: center;
  border-right: 2px solid hsla(216, 4%, 47%, 0.863);
}

.pricing .row :hover {
  background-color: hsla(210, 8%, 79%, 0.863);
}

.pricing .Price-plan h4 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 20px;
  text-transform: uppercase;
}

.pricing .plan .buybtn {
  width: 5rem;
  font-weight: 600;
  height: 2rem;
  margin-bottom: 25px;
  border: none;
  background-color: #f77f00;
}
.pricing .plan .buybtn:hover {
  background-color: #5f27cd;
  color: white;
}

.pricing .plan .price-feature {
  font-size: 1rem;
}

.pricing .noborder {
  border: none;
}

.pricing .plan .price-feature p:first-child {
  opacity: .6;
}

/* Team Start */

.team {
  width: 100%;
  margin-top: 38px;
}

.team h1 {
  text-align: center;
  color: black;
}

.team .team-people {
  margin-top: 40px;
  text-align: center;
}

.team .team-people .person {
  width: 10rem;
  margin-left: 8rem;
  opacity: 1;
  display: block;
  position: relative;
  justify-content: center;
  border-radius: 50%;
}
.team .team-people .person:after {
  content: '';
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.team .team-people .person img {
  border: .1px solid white;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.person ul {
  width: 10rem;
  padding: 10px 0;
  position: absolute;
  z-index: 1;
  bottom: 18%;
  display: block;
  opacity: 0;
  left: 4%;
}

.person ul li {
  cursor: pointer;
  padding: 7px;
  margin: 3px;
  display: inline-block;
  color: #5f27cd;
}

.person:hover:after {
  opacity: 1;
}

.person:hover ul {
  opacity: 1;
}

.team-people p {
  opacity: .6;
}


/* Team End */

/* Contact Start */

.contact {
  margin-top: 50px;
  width: 100%;
  padding-bottom: 40px;
}

.contact .contactdetail {
  background-image:url("images/career.jfif");
  height: 500PX;
  width: 50%;
  
}

.contact .contactdetail h1 {
  margin-left: 30px;
}

.contact .contact-form form input {
  margin-left: 30px;
  border: 1px solid #a4b7c4;
  padding: 10px;
  margin-top: 5px;
  width: 25rem;
}

.contact .contact-form form input:focus {
  outline: none;
}

.contact .contact-form form textarea {
  margin-left: 30px;
  padding: 10px;
  margin-top: 5px;
  width: 25rem;
  border: 1px solid #a4b7c4;
  resize: none;
}

.contact .contact-form form textarea:focus {
  outline: none;
}

.contact-form form button {
  border: none;
  background-color: #5f27cd;
  font-size: 1rem;
  width: 25rem;
  margin-left: 30px;
  padding: 13px;
  margin-top: 5px;
}

/* Contact End */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:cornflowerblue;
  color: white;
  text-align: center;
}